.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f9;
}


.about-container {
    width: 80%;
    max-width: 700px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.about-header h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.about-header p {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.about-content {
    font-size: 18px;
    color: #34495e;
    line-height: 1.6;
}

.about-content p {
    margin-bottom: 20px;
}


.about-content ul {
    list-style-type: none;
    padding: 0;
}

.about-content li {
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 10px;
    color: #2c3e50;
    font-size: 24px;
}

.about-footer {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
}